$gap-size: 48px;
$card-size: 200px;
$container-width-488: $card-size*2 + $gap-size*1;
$container-width-768: $card-size*3 + $gap-size*2;
$container-width-1024: $card-size*4 + $gap-size*3;

.catalog {
  padding-bottom: $gap-size;
  display: grid;
  gap: $gap-size;
  grid-template-columns: repeat(auto-fill, $card-size);
  
  max-width: $card-size;
  margin: 0 auto;

  @media (min-width: 488px) {
    max-width: $container-width-488;
  }

  @media (min-width: 768px) {
    max-width: $container-width-768;
  }

  @media (min-width: 1024px) {
    max-width: $container-width-1024;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
